  <!--  our side menu  -->
  <ion-menu contentId="menu-content" side="end" type="push">
    <ion-header>
      <ion-toolbar>
      <ion-title *ngIf="afAuth.auth.currentUser"> {{afAuth.auth.currentUser.displayName}} </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-badge slot="end">11</ion-badge>
          <ion-label>My Sounds</ion-label>
        </ion-item>
        <ion-item>Settings</ion-item>
        <ion-item *ngIf="afAuth.auth.currentUser" (click)=signOut()>Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>My Sounds</ion-title>
        <ion-buttons slot=end>
          <ion-menu-button auto-hide="false" class="hydrated ios button"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- List of Text Items -->
      <ion-list>
        <ion-item>
          <ion-icon name="play-circle" slot="start"></ion-icon>
          <ion-label>New Money - 128bpm</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man - 140bpm</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda - 148bpm</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man - 103bpm</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario - 74bpm</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-router-outlet>
