// #card-stack {
//   width: 100%;
//   max-width: 450px;
//   height: 450px;
//   background: #047915;
//   margin: 0px auto 0;
//   position: relative;
//   border-radius: 5px;
// }

/* Set the color on all ion-button elements */
.up-vote {
  --color: #fff;
  --background: #e74c3c;
  // width: 80px !important;
  // height: 80px !important;
  ion-icon{
    // width: 40px !important;
    // height: 40px !important;
  }
}
.down-vote {
  --color: #fff;
  --background: #2c3e50;
  // width: 80px !important;
  // height: 80px !important;
  ion-icon{
    // width: 40px !important;
    // height: 40px !important;
  }
}
ion-content {
    --overflow: hidden;
}
ion-fab{
  padding: 25px;
}
ion-slides{
  height: 75%;
  // background: red;
  max-width: 500px;
}
