<ion-header>
  <ion-toolbar>
    <ion-title>Browse</ion-title>
    <ion-title *ngIf="afAuth.auth.currentUser"> {{afAuth.auth.currentUser.displayName}} </ion-title>
    <ion-button *ngIf="afAuth.auth.currentUser" (click)=signOut()>Sign Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <ion-slides pager="false" [options]="slideOpts" >
    <ion-slide>
      <app-card></app-card>
    </ion-slide>
  </ion-slides>

  <!-- TODO: load 10 at a time from firebase -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="down-vote">
      <ion-icon name="thumbs-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="up-vote">
      <ion-icon name="thumbs-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
